.book{
    background-image: linear-gradient(105deg, rgba($color-white, .8) 0%, rgba($color-white, .8) 50%, transparent 50%),
    url(../images/nat-10.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1rem 2.5rem rgba($color-dark, .3);
}

.book-form{
    padding: 3.75rem 2.5rem;
}

.form{
    
    &-group{

    }

    &-control{
        display: block;
        width: 90%;
        padding: 1rem 1.25rem;
        border-radius: 3px;
        border: none;
        color: inherit;
        font-size: inherit;
        outline: none;
        border-bottom: 3px solid transparent;

        &:focus{
            border-bottom: 3px solid yellowgreen;
        }

        &:focus:invalid{
            border-bottom: 3px solid red;
        }

        &::placeholder{
            color: $color-grey-light-2;
        }

        & + label{
            padding: 7px 0 0 1.25rem;
            display: block;
            transition: all .4s ease-in-out;
            opacity: 1;
        }
    }

    &-control:placeholder-shown + label{
        transform: translateY(-3rem);
        visibility: hidden;
        opacity: 0;
    }
}